 /**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 480, 768, 1024, 1280
 *   480-less    - phone landscape & smaller
 *   768-480     - tablet 
 *   1024-768    - tablet landscape
 *   1280-1024   - desktop (default grid)
 * --------------------------------------------
 */
/* RESPONSIVE for phone */
:root {
    --padding-desktop: 150px;
    --padding-laptop: 70px;
    --padding-ipad-landscape: 50px;
    --padding-mobile: 20px;
    --padding-tiny-mobile: 10px;
 }
 /* Mobile */
.section-3-wrap {
    width: 95%;
}
#default-capy-svg {
    display: none;
}
h1{
    margin-left: 25px;
}
h2 {
    font-size: 50px;
    line-height: 50px;
    margin-left: 25px;
}
ul {
    width: 64%;
}
p {
    font-size: 14px;
    margin: 15px;
}
.logo{
    height: 10vh;
    width: 38vw;
}
.why-capy-container {
    flex-direction: column-reverse;
}
#capy-svg {
    margin-top: -314px;
    height: 369px;
    /* display: none; */
    margin-left: -379px;
}
.container, .why-capy-container, .nav-flex{
    padding: 0 var(--padding-tiny-mobile);
}
.nav-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container {
    width: 94%;
}
/* this prevents the patterned background from getting tinier and tinier */
.pattern {
    background-size: auto;
}
/* .hero-1 {
    font-size: 54px;
} */
.hero-2 {
    font-size: 80px;
    line-height: 76px;
}
.hero-3 {
    font-size: 50px;
    bottom: 50px;
    line-height: 60px;
}
.hamburguer {
    justify-self: end;
    display: block;
    position: relative;
/* have to place the menu in the right side of the screen */
}

.desktop-ul {
    display: none;
}
ul {
    justify-content: flex-end;
}

.text {
    padding-top: 50px;
    margin-left: 0;
    margin-bottom: 360px;
}
.text p {
    margin-top: 40px;
}
#quiz h2, #contact h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 46px;
    line-height: 39px;
}
#default-capy2-svg {
    display: none;
}
#default-capy3-svg {
    display: none;
}
header {
    height: 80px;
    
}
form {
    width: 90%;
}
.header-padding {
    padding: 5px 10px;
}
.different-capys-grid {
    display: none;
}
.center-btn {
    height: 73vh;
}
#our-partners {
    flex-direction: column;
    height: 100vh;
}
.video-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 30px;
  }
iframe{
    width: 95vw;
    height: 50vw;
    margin: 25px;
}
.smaller{
    width: 70%;
}

  .copyright {
    display: grid;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
  }
  footer {
    padding-top: 50px;
  }
  
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .col {
    text-align: center;
  }
  .col a {
    padding-top: 20px;
  }
.col-3{
    display: none;
  }
  /* tablet  */
  @media all and (min-width:768px) {
    .section-3-wrap {
        width: 95%;
    }
    .logo{
        height: 12vh;
        width: 35vw;
    }
    #capy-svg {
        margin-top: -227px;
        height: 519px;
    }
    .container, .why-capy-container, .nav-flex{
        padding: 0 var(--padding-mobile);
        justify-content: center;
    }
    .nav-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: start;
        /* grid-template-areas: "a b c"; */
    }
    .container {
        width: 74%;
    }
    .pattern {
        background-size: auto;
        background-position-y: -200px;
    }
    .hero-2 {
        font-size: 90px;
        line-height: 76px;
    }

    .hamburguer {
        /* grid-area: c; */
        justify-self: end;
        display: block;
        position: relative;
    }
    .desktop-ul {
        display: none;
    }
    ul {
        justify-content: flex-end;
    }
    .text {
        padding-top: 50px;
        margin-left: 0;
    }
    .text p {
        margin-top: 40px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 66px;
        line-height: 69px;
    }
    
    #our-partners {
        flex-direction: column;
        height: 100vh;
    }
    .video-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 30px;
      }
    iframe{
        width: 85vw;
        height: 55vw;
        margin: 25px;
        border-radius: 15px;
    }
    .smaller{
        width: 70%;
    }
}
   
 
  /* tablet landscape  */

@media all and (min-width: 1024px) {
    .section-3-wrap {
        width: 90%;
    } 
    .logo{
        height: 11vh;
        width: 18vw;
    }
    #default-capy-svg {
        margin-top: -87px;
        margin-left: 469px;
        width: 613px;
        margin-top: -442px;
    }
    ul {
        width: 64%;
    }    
    .why-capy-container {
        flex-direction: column-reverse;
    }
    #capy-svg {
        margin-top: -227px;
        height: 519px;
    }
    .container, .why-capy-container, .nav-flex {
        padding: 0 var(--padding-mobile);
        justify-content: center;
    }
    .nav-flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: start;
        /* grid-template-areas: "a b c"; */
    }
    .pattern {
        background-size: auto;
    }

    .hero-2 {
        font-size: 90px;
        bottom: 50px;
    }
    .container {
        margin-top: 0;
    }
    .desktop-ul {
        display: none;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    
    #our-partners {
        flex-direction: column;
        height: 100vh;
    }
    .hamburguer {
        display: block;
        position: relative;
    }


}
/* tablet landscape pt2 */
@media all and (min-width: 1180px) {
    
    .logo{
        margin-top: 50px;
        height: 12vh;
        width: 18vw;
    }
    #capy-svg{
        margin-top:-227px;
    }
}
/* large laptop */
@media all and (min-width: 1280px) {
    .section-3-wrap {
        width: 80%;
    }
    #default-capy-svg {
        margin-left: 600px;
        height: 109vh;
        width: 687px;
        margin-top: -440px;
    }
    .logo{
        margin-top: 0;
        height: 14vh;
        width: 20vw;
    }
    .container, .why-capy-container, .nav-flex {
        padding: 0 var(--padding-laptop);
    }
    .pattern {
        background-size: auto;

    }
    
    .hero-2 {
        font-size: 90px;
        bottom: 50px;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    h2 {
        font-size: 60px;
    }
    .text {
        padding-top: 50px;
    }
    .text p {
        margin-top: 100px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 45px;
        line-height: 40px;
    }
    #our-partners {
        flex-direction:row;
        height: 100vh;
    }
    .video-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 30px;
      }
    .video-section>a {
        padding-bottom: 25px;
    }
      iframe{
        width: 860px;
        height: 515px;
        margin: 25px;
    }
    .smaller{
        width: 70%;
    }
    footer {
        padding-top: 300px;
        padding: 100px 100px;
        height: 425px;
      }
      .footer-grid {
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col {
        text-align: center;
      }
      .col a {
        padding-top: 20px;
      }
    .col-3{
        display: block;
        
      }
      .col-3{
        justify-self: center;
      }
      
}
/* desktop */
  @media all and (min-width: 1680px) {
    #title {
        line-height: 110px;
    }
    .container {
        margin-top: 0;
    }
 
    footer {
        padding-top: 300px;
        padding: 100px 100px;
        height: 425px;
      }
      .footer-grid {
        font-size: 14px;
      }
      .video-section {
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 30px;
      }
      .smaller {
        width: 50%;
      }
      iframe{
        width: 860px;
        height: 515px;
    }
  }