/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 :root {
    --padding-normal: 150px;
    --padding-laptop: 70px;
    --padding-ipad-landscape: 50px;
    --padding-mobile: 50px;
    --padding-tiny-mobile: 10px;
 }
 /* large laptop */
 @media all and (min-width: 1280px) and (max-width: 1680px) {
    #default-capy-svg {
        margin-top: 60px;
        margin-left: 100px;
        height: 85dvh;
    }
    .container, .why-capy-container {
        padding: 0 var(--padding-normal);
        
    }
    .hero-1 {
        font-size: 50px;
    }
    .hero-2 {
        font-size: 100px;
        bottom: 50px;
        position: relative;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    h2 {
        font-size: 60px;
    }
    .text {
        padding-top: 50px;
    }
    .text p {
        margin-top: 100px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
    }
    #default-capy2-svg {

    }
    #default-capy3-svg {
        transform: scale(0.7);
        margin-top: -140px;
        width: 620px;
        right: 160px;
        margin-right: -100px;
        position: relative;
    }
 }
 @media all and (min-width: 1024px) and (max-width: 1280px) {
    #default-capy-svg {
        margin-left: 150px;
        height: 85dvh;
        width: 600px;
        margin-top: 150px;
    }
    .container, .why-capy-container {
        padding: 0 var(--padding-laptop);
    }
    .pattern {
        background-size: auto;

    }
    .hero-1 {
        font-size: 40px;
    }
    .hero-2 {
        font-size: 90px;
        bottom: 50px;
        position: relative;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    h2 {
        font-size: 60px;
    }
    .text {
        padding-top: 50px;
    }
    .text p {
        margin-top: 100px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 45px;
        line-height: 40px;
    }
    #default-capy2-svg {
        margin-top: -120px;
        margin-left: -40px;
        transform: scale(0.7);
    }
    #default-capy3-svg {
        transform: scale(0.7);
        margin-top: -140px;
        width: 620px;
        right: 160px;
        margin-right: -200px;
        position: relative;
    }
}

 @media all and (min-width: 768px) and (max-width: 1024px) {
    #default-capy-svg {
        margin-left: 150px;
        height: 85dvh;
        width: 600px;
        margin-top: 150px;
    }
    ul {
        width: 64%;
    }
    .container, .why-capy-container {
        padding: 0 var(--padding-ipad-landscape);
    }
    .pattern {
        background-size: auto;
    }
    .hero-1 {
        font-size: 40px;
    }
    .hero-2 {
        font-size: 90px;
        bottom: 50px;
        position: relative;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 50px;
    }
    .text {
        padding-top: 50px;
    }
    .text p {
        margin-top: 100px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 45px;
        line-height: 45px;
    }
    #default-capy2-svg {
        margin-top: -120px;
        margin-left: -20px;
        transform: scale(0.7);
    }
    #default-capy3-svg {
        transform: scale(0.7);
        margin-top: -140px;
        width: 620px;
        right: 160px;
        margin-right: -200px;
        position: relative;
    }
    form {
        margin-top: 30px;
        width: 60%;
    }
    #our-partners {
        flex-direction: column;
        height: 100dvh;
    }
  }
 
 @media all and (min-width: 480px) and (max-width: 768px) {
    #default-capy-svg {
        display: none;
    }
    ul {
        width: 64%;
    }
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .container, .why-capy-container {
        padding: 0 var(--padding-mobile);
        justify-content: center;
    }
    .pattern {
        background-size: auto;
        background-position-y: -200px;
    }
    .hero-1 {
        font-size: 54px;
    }
    .hero-2 {
        font-size: 100px;
    }
    .hamburguer {
        display: block;
    }
    li {
        display: none;
    }
    ul {
        justify-content: flex-end;
    }
    .text {
        padding-top: 50px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 35px;
        line-height: 35px;
    }
    #default-capy2-svg {
        display: none;
    }
    #default-capy3-svg {
        display: none;
    }
    .different-capys-grid {
        display: none;
    }
    .center-btn {
        height: 73vh;
    }
    form {
        width: 70%;
    }
    #our-partners {
        flex-direction: column;
        height: 100dvh;
    }
  }
 
 @media all and (max-width: 480px) {
    #default-capy-svg {
        display: none;
    }
    ul {
        width: 64%;
    }
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .container, .why-capy-container {
        padding: 0 var(--padding-tiny-mobile);
    }
    /* this prevents the patterned background from getting tinier and tinier */
    .pattern {
        background-size: auto;
    }
    .hero-1 {
        font-size: 54px;
    }
    .hero-2 {
        font-size: 100px;
    }
    .hamburguer {
        display: block;
    }
    li {
        display: none;
    }
    ul {
        justify-content: flex-end;
    }
    .text {
        padding-top: 50px;
    }
    #quiz h2, #contact h2 {
        text-align: center;
        padding-top: 40px;
        font-size: 30px;
        line-height: 30px;
    }
    #default-capy2-svg {
        display: none;
    }
    #default-capy3-svg {
        display: none;
    }
    header {
        height: 80px;
    }
    form {
        width: 90%;
    }
    .header-padding {
        padding: 5px 10px;
    }
    .different-capys-grid {
        display: none;
    }
    .center-btn {
        height: 73vh;
    }
    #our-partners {
        flex-direction: column;
        height: 100dvh;
    }
  }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { /* Portrait styles here */ }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }