/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 :root {
    --padding-normal: 150px;
    --padding-laptop: 70px;
    --padding-ipad-landscape: 50px;
    --padding-mobile: 50px;
    --padding-tiny-mobile: 50px;
 }
 /* large laptop */
 @media all and (min-width: 1280px) and (max-width: 1680px) {
    #default-capy-svg {
        margin-top: 60px;
        margin-left: 100px;
        width: 450px;
    }
    .container {
        padding: 0 var(--padding-normal);
    }
    .hero-1 {
        font-size: 50px;
    }
    .hero-2 {
        font-size: 100px;
        bottom: 50px;
        position: relative;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
 }
 @media all and (min-width: 1024px) and (max-width: 1280px) {
    #default-capy-svg {
        margin-left: 50px;
        width: 450px;
        margin-top: 50px;
    }
    .container {
        padding: 0 var(--padding-laptop);
    }
    .pattern {
        background-size: auto;

    }
    .hero-1 {
        font-size: 40px;
    }
    .hero-2 {
        font-size: 90px;
        bottom: 50px;
        position: relative;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
}

 @media all and (min-width: 768px) and (max-width: 1024px) {
    #default-capy-svg {
        margin-left: 0px;
        width: 450px;
        margin-top: 50px;
    }
    ul {
        width: 64%;
    }
    .container {
        padding: 0 var(--padding-ipad-landscape);
    }
    .pattern {
        background-size: auto;
    }
    .hero-1 {
        font-size: 40px;
    }
    .hero-2 {
        font-size: 90px;
        bottom: 50px;
        position: relative;
    }
    .container {
        margin-top: 0;
    }
    .quiz-btn {
        width: 244.028px;
        height: 69px;
        margin-top: 15px;
        font-size: 20px;
    }
  }
 
 @media all and (min-width: 480px) and (max-width: 768px) {
    #default-capy-svg {
        display: none;
    }
    ul {
        width: 64%;
    }
    .container {
        padding: 0 var(--padding-mobile);
        justify-content: center;
    }
    .pattern {
        background-size: auto;
        background-position-y: -200px;
    }
    .hero-1 {
        font-size: 54px;
    }
    .hero-2 {
        font-size: 100px;
    }
    .hamburguer {
        display: block;
    }
    li {
        display: none;
    }
    ul {
        justify-content: flex-end;
    }
  }
 
 @media all and (max-width: 480px) {
    #default-capy-svg {
        display: none;
    }
    ul {
        width: 64%;
    }
    .container {
        padding: 0 var(--padding-tiny-mobile);
    }
    /* this prevents the patterned background from getting tinier and tinier */
    .pattern {
        background-size: auto;
    }
    .hero-1 {
        font-size: 54px;
    }
    .hero-2 {
        font-size: 100px;
    }
    .hamburguer {
        display: block;
    }
    li {
        display: none;
    }
    ul {
        justify-content: flex-end;
    }
  }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { /* Portrait styles here */ }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }