/* ========================= PR STANDS FOR PRIMARY AND SD FOR SECONDARY ========================= */
:root {
    --pr-colour-1: #FFFFFF;
    --pr-colour-2: #e99d11;
    --pr-colour-3: #0052D4;
    --pr-colour-35: #4364F7;
    --pr-colour-4: #F16622;
    --pr-colour-5: #062F6C;
    --pr-colour-6: #000000;
    --pr-colour-7: #E4E3FF;
    --sd-colour-1: #44D326;
    --sd-colour-2: #87BBD8;
    --sd-colour-3: #E8530A;
    --sd-colour-4: #E4E3FF;
    --sd-colour-4: #B03535;
    --header-height: 90px;
    --default-padding: 300px;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ========================= STYLES THAT CONTROL THE LANDING PAGE + THE REST OF THE PAGE ========================= */

#landing-page {
    background-color: var(--pr-colour-3);
}

a {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--pr-colour-1);
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}
h1 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 92px;
    font-style: normal;
    font-weight: 900; 
    line-height: normal; 
}
h2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900; 
    line-height: 60px; 
}

.text {
    padding-top: 150px;
}
.text p {
    margin-top: 150px;
}

.hero-1 {
    font-size: 74px;
}
.hero-2 {
    font-size: 140px;
    bottom: 60px;
    line-height: 90px;
}

.hamburguer {
    display: none;
    width: 30px;
}

.quiz-btn {
    /* Layout */
    width: 344.028px;
    height: 79px;
    flex-shrink: 0;
    border-radius: 93px;
    background: var(--pr-colour-4);
    box-shadow: 0px 0px 83px 9px var(--pr-colour-35);
    border: none;
    margin-top: 35px;
    transition: box-shadow 0.2s;

    /* Typography */
    color: var(--pr-colour-1);
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.quiz-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 120px 20px var(--pr-colour-35);
}

@keyframes lose-opacity {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
.hamburguer:hover {
    cursor: pointer;
}

.font-bigger {
    font-size: 140px;
}

.container{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    padding: 0 var(--default-padding);
    width: 39%;
    height: 70dvh;
}

.mobile-header {
    animation-fill-mode: forwards;
    transition: 1s dvh ease-in;
    height: 0dvh;
    background-color: #062F6C;
    position: absolute;
    width: 100%;
}

.roll-down {
    animation-name: roll-down;
    animation-duration: 0.25s;
}
.roll-up {
    animation-name: roll-up;
    animation-duration: 0.25s;
}
@keyframes roll-down {
    from {
        height: 0dvh;
    }
    to {
        height: 100dvh;
    }
}
@keyframes roll-up {
    from {
        height: 100dvh;
    }
    to {
        height: 0dvh;
    }
}


.logo {
    height: 150px;
    flex-shrink: 0; 
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hero-text {
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

header {
    height: var(--header-height);
}

p {
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-size: 18px;
    letter-spacing: normal;
    position: relative;
    color: var(--pr-colour-1);
}
#intro {
    margin-top: 20px;
}
.sign-up {
    font-size: 19px;
}
.nav-flex, ul {
    display: flex;
    height: var(--header-height);
    align-items: center;
}

.nav-flex{
    justify-content: space-between; 
}

ul {
    width: 50%;
    justify-content: space-between;
}

#image-container {
    background-image: url(../img/unsplash_QckxruozjRg.png);
    /* not vh because dvh is the true viewport height after whichever device's UI than might be covering */
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    /* the line below prevents the capybara svg from overflowing into the section below */
    clip-path:inset(0);
}

/* controls the style for the Language Button */
.lan-btn {
    background-color: var(--pr-colour-5);
    color: var(--pr-colour-1);
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 2px 5px 16px 0px #0b325e7c;
}
.lan-btn:hover {
    cursor: pointer;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.5rem; /* Defines space between text and underline */
    position: relative;
}
.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--pr-colour-1);
    transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
    width: 100%;
}

#default-capy-svg {
    background-image: url(../img/capy.svg);
    background-repeat: no-repeat;
        margin-top: -487px;
        margin-left: 969px;
    width: 770px;
    height: 770px;
    flex-shrink: 0; 
    transform: rotate(10deg) scale(1.1);
}
#default-capy2-svg {
    margin-top: 100px;
    margin-left: 200px;
    background-image: url(../img/capy2.svg);
    background-repeat: no-repeat;
    width: 838px;
    height: 878px;
    flex-shrink: 0; 
}
#default-capy3-svg {

    fill: #0052D4;
    background-image: url(../img/capy3.svg);
    background-repeat: no-repeat;
    width: 838px;
    height: 978px;
    flex-shrink: 0; 
}

/* ========================= STYLES THAT CONTROL THE VIDEO SECTION ========================= */
#video {
    background-color: var(--pr-colour-7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.texture {
    background: url(../img/grainy-texture.png), rgba(228, 227, 255,1) 0% 0% / 44.40000057220459px 44.40000057220459px repeat;
    mix-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ========================= STYLES THAT CONTROL WHY CAPY SECTION ========================= */
#why-capy {
    background-color: var(--pr-colour-35);
    clip-path: inset(0);
}

.why-capy-container {
    padding: 20px 20px;
    display: flex;
    padding: 0 var(--default-padding);
    height: 100vh;
}
#pattern {
    background-image: url(../img/pattern.png);
}
.pattern {
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    /* this is controlled with javascript */
    background-position-y: -200px;
}
/* ========================= STYLES THAT CONTROL BECOME A MENTOR SECTION ========================= */
#mentor {
    background-color: var(--pr-colour-1);
    clip-path: inset(0);
}
#mentor h2 {
    color: var(--pr-colour-35);
}
#mentor p {
    color: black;
    margin-bottom: 60px;
}
.blue {
    color: var(--pr-colour-35);
}
h3 {
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h3 a {
    font-size: 25px;
    color: var(--pr-colour-35);
    text-decoration: underline;
    text-transform: none;
}

.why-capy-container {
    padding: 20px 20px;
    display: flex;
    padding: 0 var(--default-padding);
    height: 100dvh;
}

/* ========================= STYLES THAT CONTROL QUIZ SECTION ========================= */
#quiz{
    background-color: var(--pr-colour-4);
    clip-path: inset(0);
}
#quiz h2, #contact h2 {
    text-align: center;
    padding-top: 70px;
}
.start-btn {
    /* layout */
    width: 189px;
    height: 65.775px;
    flex-shrink: 0;

    /* style */
    border-radius: 93px;
    background: #FFF;
    box-shadow: 0px 0px 111px 4px #F3D295;

    /* typography */
    color: #F16622;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: box-shadow 0.2s;
    border: none;
}
.start-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 151px 30px #F3D295;
}
.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.different-capys-grid{
    position: relative;
    bottom: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* ========================= STYLES THAT CONTROL CONTACT SECTION ========================= */
#contact {
    background-color: var(--pr-colour-2);
}
form {
    margin-top: 30px;
    width: 40%;
}
input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
input {
    background: #d9d9d9c2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    height: 30px;
    border: 3px solid transparent;
}
input:focus,textarea:focus {
    border: 3px solid #ffffff;
    outline: none;
}
textarea {
    border: 3px solid transparent;
    background: #d9d9d9c2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
.form-container {
    display: flex;
    justify-content: center;

    color: var(--pr-colour-1);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.send-email-btn {
    width: 224px;
    height: 51px;
    background-color: var(--pr-colour-1);
    color: #FFA500;
    font-weight: 600;
    margin-top: 5px;
}
.send-email-btn:hover {
    cursor: pointer;
}
#pattern2 {
    background-image: url(../img/pattern2.png);
}

#our-partners {
    background-color: var(--pr-colour-1);
    height: 50dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: var(--pr-colour-5);
    height: 100dvh;
}