:root {
    --pr-colour-1: #FFFFFF;
    --pr-colour-2: #F5AE2B;
    --pr-colour-3: #0052D4;
    --pr-colour-35: #4364F7;
    --pr-colour-4: #F16622;
    --pr-colour-5: #062F6C;
    --pr-colour-6: #000000;
    --sd-colour-1: #44D326;
    --sd-colour-2: #87BBD8;
    --sd-colour-3: #E8530A;
    --sd-colour-4: #E4E3FF;
    --sd-colour-4: #B03535;
    --header-height: 60px;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--pr-colour-1);
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}
h1 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 92px;
    font-style: normal;
    font-weight: 900; 
    line-height: normal; 
}
.hero-1 {
    font-size: 74px;
}
.hero-2 {
    font-size: 140px;
    bottom: 50px;
    position: relative;
}

.font-bigger {
    font-size: 140px;
}

.container{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    padding: 0 200px;
}

.logo {
    width: 229px;
    height: 48px;
    flex-shrink: 0; 
}

.hero-text {
    width: 460px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--pr-colour-1);
}
section {
    height: 100vh;
}

header {
    height: var(--header-height);

}
.header-padding {
    padding: 10px 20px;
}

.nav-flex, ul {
    display: flex;
    height: var(--header-height);
    align-items: center;
}

.nav-flex{
    justify-content: space-between; 
}

ul {
    width: 50%;
    justify-content: space-between;
}

#image-container {
    background-image: url(img/unsplash_QckxruozjRg.png);
    /* not vh because ... */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* the line below prevents the capybara svg from overflowing into the section below */
    clip-path:inset(0);
}
#landing-page {
    background-color: var(--pr-colour-3);
}

/* controls the style for the Language Button */
.lan-btn {
    background-color: var(--pr-colour-5);
    color: var(--pr-colour-1);
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 2px 5px 16px 0px #0b325e7c;
}
.lan-btn:hover {
    cursor: pointer;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.5rem; /* Defines space between text and underline */
    position: relative;
}
.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--pr-colour-1);
    transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
    width: 100%;
}

#default-capy-svg {
    background-image: url(img/capy.svg);
    background-repeat: no-repeat;
    margin-left: 150px;
    width: 770px;
    height: 770px;
    flex-shrink: 0; 
    transform: rotate(10deg) scale(1.1);
}



#video {
    background-color: var(--sd-colour-2);
}

#why-capy {
    background-color: var(--pr-colour-3);
}

#mentor {
    background-color: var(--pr-colour-1);
}

#quiz{
    background-color: var(--pr-colour-4);
}

#contact {
    background-color: var(--pr-colour-2);
}

#our-partners {
    background-color: var(--pr-colour-1);
}

footer {
    background-color: var(--pr-colour-5);
}