:root {
    --pr-colour-1: #FFFFFF;
    --pr-colour-2: #F5AE2B;
    --pr-colour-3: #4364F7;
    --pr-colour-4: #F16622;
    --pr-colour-5: #062F6C;
    --pr-colour-6: #000000;
    --sd-colour-1: #44D326;
    --sd-colour-2: #87BBD8;
    --sd-colour-3: #E8530A;
    --sd-colour-4: #E4E3FF;
    --sd-colour-4: #B03535;
}